@import './shared.scss';

.App {
  padding: 0 8%;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-title {
  color: $secondary-color;
  text-shadow: $primary-color 1px 0 10px;
}
