body {
  margin: 0;
  background-color: #DDD;
  color: #595549;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  padding: 0 8%;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  border-bottom: none;
}

.rct-header-root {
  background: transparent !important;
}

.rct-sidebar {
  border-right: 3px solid #D0FC30 !important;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl {
  border-left: none !important;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  border-bottom: none !important;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
  background: rgba(65, 46, 46, 0.2) !important;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  background: rgba(65, 46, 46, 0.2) !important;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even {
  background: transparent !important;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0,
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6  {
  background: inherit !important;
}