body {
  margin: 0;
  background-color: #DDD;
  color: #595549;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Sidebar */
main .react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  border-bottom: none;
}

main .react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
  background: rgba(65, 46, 46, 0.2);
}

main .react-calendar-timeline .rct-sidebar {
  border-right: 3px solid #D0FC30;
}

/*Timeline*/
  /*Vertical lines*/
main .react-calendar-timeline .rct-vertical-lines .rct-vl {
  border-left: none;
}

main .react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0,
main .react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6  {
  background: inherit;
}

  /*Horizontal lines*/
main .react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
main .react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  border-bottom: none;
}

main .react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  background: rgba(65, 46, 46, 0.2);
}

