@import './shared.scss';

#search-bar {
  align-self: center;
  font-family: inherit;
  font-size: 100%;
  border: 1px solid $secondary-color;
  padding: 5px 15px;
  color: inherit;
  margin: 20px 0px 10px;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
}